# ML Modelling

In [1]:
#Importing Libraries
import sys
import os
import dvc.api
import numpy as np
import pandas as pd

In [2]:
#importing local scripts
sys.path.append(os.path.abspath(os.path.join('..')))
#Adding scripts path
#importing data_manipulator script
from scripts.ML_modelling_utils import get_index_based_on_size, get_df_of_each_group

## Loading Data

In [3]:
#Importing the collected Data
path = 'data/Clean_AdSmartABdata.csv'
repo = 'https://github.com/DePacifier/abtest-mlops'
rev = 'v2'
data_url = dvc.api.get_url(path=path, repo=repo, rev=rev)
collected_data = pd.read_csv(data_url)

,auction_id,experiment,date,hour,device_make,platform_os,browser,response
0,61205ee2-023b-4eab-bf13-c20c90fd3aa2,exposed,2020-07-10,4,Samsung SM-G930F,6,Chrome Mobile WebView,1
1,4089f5e5-fde0-422f-b147-5fc5903cdef8,control,2020-07-10,10,G3311,6,Facebook,0
2,378645d2-f8cf-43c0-b1be-e699d846e596,control,2020-07-04,6,Generic Smartphone,6,Chrome Mobile,0
3,ef334830-f200-4c1b-aea2-b01b96ca0950,exposed,2020-07-03,12,Generic Smartphone,6,Chrome Mobile,0
4,bc2e2abf-50d9-4c83-898c-405f60c2924c,exposed,2020-07-10,0,Samsung SM-A202F,6,Chrome Mobile WebView,1

In [4]:
collected_data.head(5)

,auction_id,experiment,date,hour,device_make,platform_os,browser,response
0,61205ee2-023b-4eab-bf13-c20c90fd3aa2,exposed,2020-07-10,4,Samsung SM-G930F,6,Chrome Mobile WebView,1
1,4089f5e5-fde0-422f-b147-5fc5903cdef8,control,2020-07-10,10,G3311,6,Facebook,0
2,378645d2-f8cf-43c0-b1be-e699d846e596,control,2020-07-04,6,Generic Smartphone,6,Chrome Mobile,0
3,ef334830-f200-4c1b-aea2-b01b96ca0950,exposed,2020-07-03,12,Generic Smartphone,6,Chrome Mobile,0
4,bc2e2abf-50d9-4c83-898c-405f60c2924c,exposed,2020-07-10,0,Samsung SM-A202F,6,Chrome Mobile WebView,1

## Split data by browser and platform_os, and version each split as a new version of the data in dvc.

In [5]:
### Spliting based on Browser
browser = collected_data.groupby('browser')
browser_size = browser.size()
browser_size

browser
Chrome                          2
Chrome Mobile                 695
Chrome Mobile WebView         227
Chrome Mobile iOS               1
Facebook                      156
Mobile Safari                  14
Mobile Safari UI/WKWebView      3
Samsung Internet              145
dtype: int64

In [7]:
#identifying model training worth data
test_worthy_browser_list = get_index_based_on_size(browser_size.values, 100)
browser_dfs = get_df_of_each_group(browser, test_worthy_browser_list)
len(browser_dfs)

4

In [8]:
### Spliting based on Platform Os
platform = collected_data.groupby('platform_os')
platform_size = platform.size()
platform_size

platform_os
5      17
6    1226
dtype: int64

In [9]:
#identifying model training worth data
test_worthy_platform_list = get_index_based_on_size(platform_size.values, 100)
platform_dfs = get_df_of_each_group(platform, test_worthy_platform_list)
len(platform_dfs)

1

In [10]:
# Saving Each New Version and Adding it to DVC
# Browser Versions
browser_dfs[0].to_csv('../data/AdSmartABdata.csv', index=False)
# Add to dvc with a new tag "the name" => "chrome-mobile"
browser_dfs[1].to_csv('../data/AdSmartABdata.csv', index=False)
# Add to dvc with a new tag "the name" => "chrome-mobile-view"
browser_dfs[2].to_csv('../data/AdSmartABdata.csv', index=False)
# Add to dvc with a new tag "the name" => "facebook"
browser_dfs[3].to_csv('../data/AdSmartABdata.csv', index=False)
# Add to dvc with a new tag "the name" => "samsung-internet"

In [12]:
# Saving Each New Version and Adding it to DVC
# platform Versions
platform_dfs[0].to_csv('../data/AdSmartABdata.csv', index=False)
# Add to dvc with a new tag "the name" => "platform-6"